In [ ]:
print("hello world")

hello world

In [ ]:
ashdkjas

In [ ]:
42 * 5

210

In [ ]:
#BreakstatementinforLoop

In [ ]:
for letter in "python":
  if letter == "h":
    break
  print("current letter:",letter)

current letter: p
current letter: y
current letter: t

In [ ]:
for letter in "Noormaan":
  if letter == "m":
    break
  print("current letter:",letter)

current letter: N
current letter: o
current letter: o
current letter: r

In [ ]:
for letter in "python":
  print("current letter:",letter)
  if letter == "h":
    break

current letter: p
current letter: y
current letter: t
current letter: h

In [ ]:
for char in "icecream":
  if char == "c":
    print("The character %s was found in the string" % char)
    break
else:
    print("The character %s was not found in the string" % char)

The character c was found in the string

In [ ]:
for num in [3, 11, 22, 35, 90]:
  print(num)

  if (num == 22):
    print("The number %d has been found" % num)
    print("Terminating the loop...")

    break

3
11
22
The number 22 has been found
Terminating the loop...

In [ ]:
for i in range(5):
  if i == 4:
    print(i)
    break

4

In [ ]:
for i in range(5):
  if i == 4:
    break
  print(i)

0
1
2
3

In [ ]:
for i in range(1, 10):
  if i >= 5:
    break
  print(i, "is less than 5")

1 is less than 5
2 is less than 5
3 is less than 5
4 is less than 5

In [ ]:
for i in range(1, 10):
  if i <= 5:
    print(i, "is less than 5")
    break

1 is less than 5

In [ ]:
for i in range(1, 10):
  if i >= 5:
    print(i, "is less than 5")
    break

5 is less than 5

In [ ]:
my_list = range(10)

for num in my_list:
  if num ** 2 > 20:
    break
  print(num, "square", num ** 2)

0 square 0
1 square 1
2 square 4
3 square 9
4 square 16

In [ ]:
string = "Hello 12345 World"
numbers = [int(x) for x in string if x.isdigit()]
print(numbers)

[1, 2, 3, 4, 5]

In [ ]:
string = "Hello 12345 World"
alpha = [x for x in string if x.isalpha()]
print(alpha)

['H', 'e', 'l', 'l', 'o', 'W', 'o', 'r', 'l', 'd']

In [ ]:
stationary = ["Pen","Marker","Pencil"]
Colors = ["Red","Green","Blue"]
for i in stationary:
  for j in Colors:
    print(i,j)

Pen Red
Pen Green
Pen Blue
Marker Red
Marker Green
Marker Blue
Pencil Red
Pencil Green
Pencil Blue

In [ ]:
stationary = ["Pen","Marker","Pencil"]
Colors = ["Red","Green","Blue"]
combined =[(i,j) for j in stationary for i in Colors]
combined

[('Red', 'Pen'),
 ('Green', 'Pen'),
 ('Blue', 'Pen'),
 ('Red', 'Marker'),
 ('Green', 'Marker'),
 ('Blue', 'Marker'),
 ('Red', 'Pencil'),
 ('Green', 'Pencil'),
 ('Blue', 'Pencil')]

In [ ]:
number_list = [number for number in range(51) if number % 2 == 0 if number % 5 == 0]
print(number_list)

[0, 10, 20, 30, 40, 50]

In [ ]:
num = ["Even" if i % 2 == 0 else "Odd" for i in range(10)]
print(num)

['Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd']

An error occurred: 'str' object is not callable

In [ ]:
places = ["Delhi","Agra","Jaipur","Kolkata","Bangalore","Hyderabad"]
villain_at = "Hyderabad"

for place in places:
  if place == villain_at:
    print("Villain has been captured")
    break
else:
  print("Villain has not been captured :(")

Villain has been captured

In [ ]:
num = int(input("Enter a number:"))

for i in range(2, num):
  if num % i == 0:
    print("Not a prime number")
    break
else:
  print("Prime number")

TypeError: 'str' object is not callable

In [ ]:
for i in range(3):
  password = str(input("Enter password:"))
  if password == "secret":
    print("Access granted")
    break
else:
    print("Access denied")

TypeError: 'str' object is not callable

In [ ]:
for <temporary variable> in <collection>:
  <action>

In [1]:
my_string = "Hello Python World"

print(my_string[0:18])

Hello Python World

In [3]:
my_string[::-1]

'dlroW nohtyP olleH'

In [4]:
my_string[0:6]

'Hello '

In [5]:
my_string[::2]

'HloPto ol'

In [6]:
Tuples = ordered collection of elements
Tuples = ()
Tuples are immutable

SyntaxError: invalid syntax (ipython-input-298937201.py, line 1)